.li{
  height:900px;
  width: 100%;
  background-image: url("../checklist-1643781_960_720.png");
  background-repeat: no-repeat;
  margin-left: 1000px;
  color: blue;
 

}
p{
  margin-left: 50px;
  margin-top: 50px;
}

